<launch>

    <arg name="ref_frame" default=""/>  <!-- leave empty and the pose will be published wrt param parent_name -->
    <arg name="marker_size" default="0.03"/>    <!-- in m -->
    <arg name="res" default="qhd" />

    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher" output="screen">
      <remap from="camera_info" to="camera/rgb/camera_info" />
      <remap from="image" to="camera/rgb/image_raw" />
      <param name="image_is_rectified" value="false"/>
      <param name="marker_size"        value="$(arg marker_size)"/>
      <param name="reference_frame"    value="$(arg ref_frame)"/>   <!-- frame in which the marker pose will be refered -->
      <param name="camera_frame"       value="camera_rgb_optical_frame"/>
      <param name="use_camera_info"    value="true" />
    </node>

</launch>

